PORT=5000
NODE_ENV=development
CLIENT_URL=http://localhost:5173
ADDITIONAL_ALLOWED_ORIGINS=
MONGO_URI=
REDIS_URL=
POSTGRES_URL=
JWT_SECRET=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
ANTHROPIC_API_KEY=
EMAILJS_SERVICE_ID=
